/* Background Image overlay */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: #fff;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.big-img {
  background: url('./big.jpg') center/cover no-repeat fixed;
}
.small-img {
  background: url('./Images/folder.jpg') center/cover no-repeat fixed;
  /* Order must same as below for the shortcut */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}
.folder-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./big.jpg') center/cover no-repeat fixed;
}
