/* 
PIXELS - absolute values, one dot on the screen
FONT-SIZE- size of the font
WIDTH - width of an element
HEIGHT - height of an element
*/

/* 
rem - RELATIVE, DEPENDS ON ROOT
1rem = base value (16px) * number (1)
*/

/* h1 {
  font-size: 60px;
  background: blue;
  color: white;
  width: 300px;
  height: 200px;
} */
/* 
% - percent.RELATIVE UNIT / VALUE. Depends on the parent
*/
/* .outer {
  width: 300px;
  height: 400px;
  background: blue;
}

.inner {
  width: 50%;
  height: 50%;
  background: red;
}

html {
  font-size: 10px;
}

div {
  font-size: 10px;
}

.absolute {
  font-size: 32px;
}

.relative {
  font-size: 2rem;
}

/* 
VIEWPORT UNITS

vh - height - percent of the screen
vw - width - percent of the screen

*/
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */
/*
.hero {
  background: green;
  height: 100vh;
  width: 100vw;
}

.about {
  background: blue;
  height: 43vh;
  width: 54vw;
}
*/
/* 
Default Browser Styles and Google Chrome DevTools
*/

/* 
CALC()
PERFORM MATH OPERATIONS + - * /
MIX AND MATCH VALUES
*/

* {
  margin: 0;
}
.navbar {
  background: blue;
  height: 6rem;
  color: white;
  font-size: 3rem;
}
.banner {
  background: red;
  /* height: calc(100vh - 6rem); */
  min-height: calc(100vh-6rem);
  max-height: 90vh;
  overflow: hidden;
  overflow: scroll;
}

/* 
height:auto;min-height;max-height;overflow

*/

.example {
  background: green;
  width: 10rem;
  height: 25rem;
  overflow: hidden;
  overflow: scroll;
}
