body {
  background: #f1f5f9;
}

.container {
  background: #fff;
}

h3 {
  color: #645cff;
  text-transform: uppercase;
}
p {
  color: #64748b;
}
.special-container p {
  background: rgba(0, 0, 0, 0.9);
}
