/* Linear - gradient */

div {
  width: 150px;
  height: 150px;
  margin: 5px;
}
.one {
  background: linear-gradient(to top, blue, green);
}

.two {
  background: linear-gradient(to left, blue, green, red, yellow, #f15025);
}

.three {
  background: linear-gradient(300deg, purple, blue, yellow, #f15025);
}

.four {
  background: linear-gradient(to top right, purple, blue, brown, #f15025);
}

.five {
  background: linear-gradient(purple 50%, red 40%);
}

.six {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: #fff;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.big-img {
  background: url('./big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.small-img {
  background: url('./Images/folder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.folder-img {
  background: url('./big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
