/* 
system fonts - a font thats already installed on the device of the user
-fast load times
- less headaches
- project will look different

"-apple-system, BlinkMacSystemFont" - system of font on apple devices

"Segoe UI" - Used on windows Systems
"Roboto" - System Font for Andriod Devices
*/

/* 
font-weight - how thick or thin characters in text should be font-style sets font style for a text
*/

/* 

text-align , text-indent
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Trade+Winds&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

/* h1 {
  font-family: 'Trade Winds', cursive;
} */

.main-heading {
  font-family: 'Trade Winds', cursive;
  font-style: italic;
  text-align: center;
}
.sub-heading {
  font-style: italic;
}

.one {
  font-weight: bold;
}
.two {
  font-weight: lighter;
  font-style: italic;
  font-style: oblique;
  font-style: normal;
  text-align: left;
  text-indent: 50px;
}
