/* 
Position static by defaul - always positioned according to the normal flow
position-relative - position relative to its normal position.
top,bottom,left,right 
*/

/* position:absolute - relative to the parent with position:relative
position:fixed - relative to viewport(screen),stays as we are scrolling will use other content to fill out the space

*/

div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
  /* text-align: right; */
  /* position: relative; */
}

.one {
  background: blue;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.two {
  background: green;
  color: #fff;
}

.special {
  background: pink;
  font-size: 20px;
  color: #222;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.container {
  min-height: 100vh;
  background: blueviolet;
}

/* .one {
  background: blue;
  color: #fff;
  position: static; 
  position: relative;
  top: 200px; 
  bottom: 2rem;
  left: 20%; 
  right: 40px;
}  */
